{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container" style="max-width: 600px !important;">
        <a href="{{ path('model_crud_list') }}">
            <button class="btn btn-primary rounded-1 mt-2 mb-4">
                Retour à la liste des modèles
            </button>
        </a>
    </div>
    <div class="container border rounded shadow " style="max-width: 600px !important;">
        {{ form_start(formAdd) }}
        <div class="row px-3 mt-2">
            <div class="my-3">
                <h3 class="text-sm-start text-lg-center">Ajout d'un modèle</h3>
            </div>
        </div>
        <div class="row px-3 mt-2 justify-content-center">
            <div class="col-10 col-sm-8 col-md-8 col-lg-8 mb-2">
                {{ form_label(formAdd.brand, '', { 'label_attr' : { 'class' : 'mt-1 ms-3'}}) }}
                {{ form_widget(formAdd.brand, { 'attr' : { 'style' : 'border-radius: 25px !important;'}}) }}
            </div>
        </div>
        <div class="row px-3 mt-2 justify-content-center">
            <div class="col-10 col-sm-8 col-md-8 col-lg-8 mb-2">
                {{ form_label(formAdd.name, '', { 'label_attr' : { 'class' : 'mt-1 ms-3'}}) }}
                {{ form_widget(formAdd.name, { 'attr' : { 'style' : 'border-radius: 25px !important;'}}) }}
            </div>
        </div>
        <div class="row px-3 mt-2 justify-content-center">
            <div class="col-10 col-sm-8 col-md-8 col-lg-8 mb-2">
                {{ form_label(formAdd.status, '', { 'label_attr' : { 'class' : 'mt-1 ms-3'}}) }}
                {{ form_errors(formAdd.status) }}
                {{ form_widget(formAdd.status, { 'attr' : {'style' : 'border-radius: 25px !important;'}}) }}
            </div>
        </div>
        <div class="text-center m-3">
            <button class="btn btn-success px-4" type="submit" style="border-radius: 10px;">Ajouter le modèle</button>
        </div>
        {{ form_end(formAdd) }}
    </div>

{% endblock %}